html
{
    margin: 0;
    padding: 0;
    width: auto;
}

.rangee
{
    left: 50px;
    height: 200px;
    width: 800px ;
    position: absolute;
}

.table
{
    background: #f4b575;
    border: 2px solid black;
    height: 150px;
    width: 250px;
    display: inline-block;
    top: 10px;
    position: absolute;
}

.t1
{
    left: 50px;
   }

.t2
{
    left: 300px;
}

.t3
{
    left: 550px;
}

.siège
{
    width: 80px;
    height: 50px;
    padding: 4px;
    border: black 1px dashed;
    border-radius: 1.5em;
    font-weight: bold;
    background-color: rgba(153, 255, 222, 0.8);
    text-align: center;


}

.emplacement-1 {
    position: relative;
    left: 15px;
    top: 10px;
    text-align: center
}

.emplacement-2 {
    position: absolute;
    left: 140px;
    top: 10px;
    text-align: center;
    display: inline-block;
}
.emplacement-3
{
    position: absolute;
    left: 15px;
    top: 80px;
    text-align: center;
}

.emplacement-4
{
    position: absolute;
    left: 140px;
    top: 80px;
    text-align: center;
    display: inline-block;
}


.rangee2 {
    left: 50px;
    top: 250px;
    height: 200px;
    width: 800px;
    position: absolute;
}

